.container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: grey;
  padding: 2rem;
  box-shadow: 1px 3px 10px 2px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  animation: dropdown 4s ease-in-out forwards;
  position: absolute;
}
.card button {
  border: none;
  padding: 1rem;
  background-color: red;
  border-radius: 10px;
  color: white;
  width: 7rem;
  cursor: pointer;
}
.card button:hover {
  background-color: gold;
  color: red;
}
@keyframes dropdown {
  0% {
    top: -25%;
  }
  100% {
    top: 50%;
  }
}
