.outer {
  background-color: purple;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.inner {
  background-color: cadetblue;
  width: 50%;
  height: 50%;
  /* transition: transform 1s, background-color 1s; */
}
.outer:hover .inner {
  /* background-color: bisque;
  transform: translateX(100%); */
  animation: travel 2s ease-in-out;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes travel {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translateX(100%);
  }
}
