div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
div i {
  font-size: 10rem;
  color: brown;
}

.fa-bell:hover {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.fa-dollar-sign {
  animation: dance 0.5s ease-in-out infinite alternate forwards;
}
.fa-dollar-sign:hover {
  animation-play-state: paused;
}
@keyframes shake {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes dance {
  from {
    transform: skew(30deg);
  }
  to {
    transform: skew(-30deg);
  }
}
